fastapi==0.115.11
uvicorn==0.34.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.6.1
pmdarima==2.0.4
statsmodels==0.14.4
requests==2.32.3
jinja2==3.1.4
python-multipart==0.0.9
plotly==5.24.0
vnstock
beautifulsoup4
IPython