<!DOCTYPE html>
<html>
<head>
    <title>Stock Analysis</title>
</head>
<body>
    <h1>Phân tích cổ phiếu</h1>


    <form method="post" action="/analyze_tickers">
        <label for="symbols">Nhập mã cổ phiếu (phân cách bởi dấu phẩy):</label><br>
        <input type="text" name="symbols" id="symbols" placeholder="VD: TCB, VIX, SSI" style="width: 300px;"><br><br>

        <label for="start_date">Từ ngày:</label>
        <input type="date" name="start_date" required>

        <label for="end_date">Đến ngày:</label>
        <input type="date" name="end_date" required><br><br>

        <input type="submit" value="Phân tích">
    </form>


    <hr>

    <h2>Phân tích từ file CSV</h2>
    <form action="/analyze" method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple required>
        <button type="submit">Phân tích File</button>
    </form>
</body>
</html>
